<div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Confirm action</h4>
                <button type="button" class="btn-close btn-success" @onclick="()=>OnDeleteClickHandler(false)"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>Are you sure to delete @categoryDTO.Name with id @categoryDTO.Id</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" @onclick="()=>OnDeleteClickHandler(false)">Cancel</button>
                <button type="button" class="btn btn-danger" @onclick="()=>OnDeleteClickHandler(true)">Delete</button>
            </div>

        </div>
    </div>
</div>
<hr />
@code
{
    [Parameter]
    public CategoryDTO categoryDTO { get; set; } = new CategoryDTO();

    [Parameter]
    public EventCallback<bool> onDeleteClick { get; set; }

    public async Task OnDeleteClickHandler(bool confirmDelete)
    {
        await onDeleteClick.InvokeAsync(confirmDelete);
    }
}